{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	<main class="content">
		<section class="intro">
			<div class="intro__background">
				<svg class="background-image" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 750">
					<rect class="background-image__fill" x="167.68" y="90.27" width="475.99" height="90.27" fill="#ccc"/>
					<rect class="background-image__fill" x="17.75" y="351.39" width="772.51" height="90.27" transform="translate(-144.89 534.96) rotate(-58.62)" fill="#ccc"/>
					<rect class="background-image__clip" x="124.08" y="351.39" width="772.51" height="90.27" transform="translate(-93.93 625.74) rotate(-58.62)" fill="#fff"/>
					<rect class="background-image__clip" x="167.68" width="475.99" height="90.27" fill="#fff"/>
				</svg>
			</div>
			<h1>Seven Types of Contrast</h1>
			<h3>An Introduction to Color Theory</h3>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Contrast of Hue</h2>
				<p>Created by the use of two distinct hues.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Contrast of Value</h2>
				<p>Use of a lighter color combined with a darker color.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Contrast of Temperature</h2>
				<p>The contrast between cool (blue, green, purple) and warm (red, orange, yellow) colors.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Contrast of Complement</h2>
				<p>Manifested through the combination of colors opposite one another on the color wheel.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Simultaneous Contrast</h2>
				<p>A contrast between nearly but not quite complementary colors.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Contrast of Saturation</h2>
				<p>The difference between a pure and a washed out color.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<section class="panel">
			<div class="text">
				<h2>Contrast of Proportion</h2>
				<p>Contrast achieved by difference of relative proportion.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration"></div>
		</section>
		<footer>
			<div class="footer__top">
				<h2>Credits</h2>
				<p>This website was inspired by the pioneering work of Johannes Itten and Josef Albers, and created by Jeremy Tinianow.</p>
			</div>
			<label for="colophon-toggle" class="btn">Colophon</label>
		</footer>
	</main>
	<nav class="breadcrumbs">
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
		<div class="breadcrumb-item"></div>
	</nav>
	<input id="colophon-toggle" class="colophon-toggle" type="checkbox" aria-hidden="true">
	<div class="colophon">
		<h4>Built With</h4>
		<p>https://github.com/vigetlabs/gulp-starter</p>
		<h4>Fonts</h4>
		<p>Futura PT by ParaType</p>
		<h4>References</h4>
		<ul class="colophon__list">
			<li class="colophon__list-item">Johannes Itten</li>
			<li class="colophon__list-item">Josef Albers</li>
		</ul>
		<h4>Further Reading</h4>
		<ul class="colophon__list">
			<li class="colophon__list-item">“Interaction of Color” by Josef Albers</li>
			<li class="colophon__list-item">“The Art of Color” by Johannes Itten</li>
			<li class="colophon__list-item">“The Elements of Color” by Johannes Itten</li>
		</ul>
		<label for="colophon-toggle" class="close">×</label>
	</div>
{% endblock %}
