{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	<main class="content">
		<section class="intro" id="intro">
			<div class="intro__background">
				<svg class="background-image" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 750">
					<rect class="background-image__fill" x="167.68" y="90.27" width="475.99" height="90.27" fill="#ccc"/>
					<rect class="background-image__fill" x="17.75" y="351.39" width="772.51" height="90.27" transform="translate(-144.89 534.96) rotate(-58.62)" fill="#ccc"/>
					<rect class="background-image__clip" x="124.08" y="351.39" width="772.51" height="90.27" transform="translate(-95 625.74) rotate(-58.62)" fill="#fff"/>
					<rect class="background-image__clip" x="167.68" width="475.99" height="90.27" fill="#fff"/>
				</svg>
			</div>
			<h1>Seven Types of Contrast</h1>
			<h3>An Introduction to Color Theory</h3>
		</section>
		<section class="panel" id="hue">
			<div class="text">
				<h2>Contrast of Hue</h2>
				<p>Created by the use of two distinct hues.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 158, 175, 127</li>
					<li class="color-list__item">— RGB 89, 97, 140</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background" style="background-color: rgb(158, 175, 127);"></div>
				<div class="illustration__foreground" style="background-color: rgb(89, 97, 140);"></div>
			</div>
		</section>
		<section class="panel" id="value">
			<div class="text">
				<h2>Contrast of Value</h2>
				<p>Use of a lighter color combined with a darker color.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background" style="background-color: rgb(127, 135, 175);"></div>
				<div class="illustration__foreground" style="background-color: rgb(89, 97, 140);"></div>
			</div>
		</section>
		<section class="panel" id="temperature">
			<div class="text">
				<h2>Contrast of Temperature</h2>
				<p>The contrast between cool (blue, green, purple) and warm (red, orange, yellow) colors.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background" style="background-color: rgb(216, 134, 84);"></div>
				<div class="illustration__foreground" style="background-color: rgb(0, 90, 169);"></div>
			</div>
		</section>
		<section class="panel" id="complement">
			<div class="text">
				<h2>Contrast of Complement</h2>
				<p>Manifested through the combination of colors opposite one another on the color wheel.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background" style="background-color: rgb(127, 175, 133);"></div>
				<div class="illustration__foreground" style="background-color: rgb(105, 55, 55);"></div>
			</div>
		</section>
		<section class="panel" id="simultaneous">
			<div class="text">
				<h2>Simultaneous Contrast</h2>
				<p>A contrast between nearly but not quite complementary colors.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background" style="background-color: rgb(42, 45, 146);"></div>
				<div class="illustration__foreground" style="background-color: rgb(220, 10, 95);"></div>
			</div>
		</section>
		<section class="panel" id="saturation">
			<div class="text">
				<h2>Contrast of Saturation</h2>
				<p>The difference between a pure and a washed out color.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background" style="background-color: rgb(11, 167, 185);"></div>
				<div class="illustration__foreground" style="background-color: rgb(59, 127, 135);"></div>
			</div>
		</section>
		<section class="panel" id="proportion">
			<div class="text">
				<h2>Contrast of Proportion</h2>
				<p>Contrast achieved by difference of relative proportion.</p>
				<ul class="color-list">
					<li class="color-list__item">— RGB 255, 255, 255</li>
					<li class="color-list__item">— RGB 255, 255, 255</li>
				</ul>
			</div>
			<div class="illustration">
				<div class="illustration__background"></div>
				<div class="illustration__foreground-layer">
					<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
					<div class="illustration__foreground-row">
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
					</div>
					<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
					<div class="illustration__foreground-row">
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
					</div>
					<div class="illustration__foreground-row">
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
						<div class="illustration-rectangle" style="background-color: rgb(212, 93, 152)"></div>
						<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
					</div>
					<div class="illustration-rectangle" style="background-color: rgb(80, 80, 80)"></div>
				</div>
			</div>
		</section>
		<footer id="footer" class="footer">
			<div class="footer__top">
				<h2>Credits</h2>
				<p>This website was inspired by the pioneering work of Johannes Itten and Josef Albers, and created by Jeremy Tinianow.</p>
			</div>
			<label for="colophon-toggle" class="btn">Colophon</label>
		</footer>
	</main>
	<input id="colophon-toggle" class="colophon-toggle" type="checkbox" aria-hidden="true">
	<div class="colophon">
		<h4>Built With</h4>
		<p>https://github.com/vigetlabs/gulp-starter</p>
		<h4>Fonts</h4>
		<p>This site uses system fonts, as inspired by medium.com</p>
		<h4>References</h4>
		<ul class="colophon__list">
			<li class="colophon__list-item">Johannes Itten</li>
			<li class="colophon__list-item">Josef Albers</li>
		</ul>
		<h4>Further Reading</h4>
		<ul class="colophon__list">
			<li class="colophon__list-item">“Interaction of Color” by Josef Albers</li>
			<li class="colophon__list-item">“The Art of Color” by Johannes Itten</li>
			<li class="colophon__list-item">“The Elements of Color” by Johannes Itten</li>
		</ul>
		<label for="colophon-toggle" class="close">×</label>
	</div>
{% endblock %}
