.colophon {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
}

.colophon__list {
	width: 100%;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-50%, 50%);
	font-size: 4em;
	line-height: .5;
	cursor: pointer;
}
