.colophon {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms ease, visibility 0s linear 600ms;
	background-color: $overlay-dark;

	.colophon-toggle:checked + & {
		opacity: 1;
		visibility: visible;
		transition: opacity 300ms ease;
	}

	h4,
	p,
	ul,
	li,
	a,
	label { color: $white; }
}

.colophon-toggle {
	display: none;
}

.colophon__list {
	width: 100%;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-50%, 50%);
	font-size: 4em;
	line-height: 0.5;
	cursor: pointer;
}
