.illustration {
	position: relative;
	width: 100%;
	background-color: $white;
}

.illustration:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.illustration__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.illustration__foreground {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 16%;

	&:after {
		content: '';
		display: block;
		padding-top: 178%;
	}
}

.illustration__foreground-layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.illustration__foreground-row {
	display: flex;
	flex-flow: row nowrap;
}

.illustration__layer-section {
	margin-bottom: 0.75em;
}

.illustration-rectangle {
	width: 100%;
	height: 1em;
	margin: 0.125em;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}
