.intro {
	background-color: $introBg;

	h1,
	h3 {
		z-index: 1;
	}

	h1 { color: #C9DAEA; }

	h3 { color: #07E0EF; }
}

.intro__background {
	position: absolute;
	width: 100%;
}

.background-image__fill {
	fill: #DE544A;
}

.background-image__clip {
	fill: $introBg;
}
