.intro {
	background-color: $introBg;

	h1,
	h3 {
		z-index: 1;

		@supports (display: grid) {
			grid-column: 1 / 2;
		}
	}

	h1 { color: #C9DAEA; }

	h3 { color: #07E0EF; }
}

.intro__background {
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.background-image__fill {
	fill: #DE544A;
}

.background-image__clip {
	fill: $introBg;
}
