* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: 100%;
  font-size: 12px;
  @include gtTablet { font-size: 18px; }
}

body {
  @include font-smoothing;
  height: 100%;
	font-family: 'Futura', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
	color: $body;
	background-color: $background;
}

section,
footer,
.colophon {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	padding: 2.5em;
}

.text,
.illustration {
	width: 100%;
}

.illustration {
	background-color: #FFF;
}

.illustration:after {
	content: '';
	display: block;
	padding-top: 100%;
}

h1,
h2,
h3,
h4 {
	width: 100%;
	font-weight: normal;
	line-height: 1.1;
}

h1 { font-size: 3.33em; }

h2 { font-size: 2.5em; }

h3,
h4 { font-size: 1.67em; }

h4 {
	@extend %caps;
	margin-bottom: 0.25em;
}


p { width: 100%; }

ul {
	padding-left: 0;
	list-style-type: none;
}

.btn {
	@extend %caps;
	padding: 1em 2em;
	border: 2px solid $body;
	cursor: pointer;
}
