/* Sizes */
$minHeight: 440px;
$minWidth: 300px;
$tablet: 750px;
$desktop: 1000px;
$desktopHD: 1200px;

/* Colors */
$transparent: rgba(0, 0, 0, 0);
$body: #272727;
$background: #fafafa;
$introBg: #272932;

/* Styles */
%caps {
	text-transform: uppercase;
	letter-spacing: 1px;
}
