// Sizes
$min-height: 440px;
$min-width: 300px;
$tablet: 750px;
$desktop: 1000px;
$desktop-hd: 1200px;

// Colors
$transparent: rgba(0, 0, 0, 0);
$overlay-dark: rgba(0, 0, 0, 0.9);
$white: #fff;
$light-grey: #eee;
$body: #272727;
$background: #fafafa;
$intro-bg: #272932;
$cyan: #07e0ef;
$cool-grey: #c9daea;
$red: #DE544A;

// Styles
%caps {
	text-transform: uppercase;
	letter-spacing: 1px;
}
