// Sizes
$min-height: 420px;
$min-width: 300px;
$tablet: 750px;
$desktop: 1000px;
$desktop-hd: 1200px;

// Colors
$transparent: rgba(0, 0, 0, 0);
$overlay-dark: rgba(0, 0, 5, 0.92);
$white: #fff;
$light-grey: #dbd7d7;
$body: #2d2d2f;
$background: #fafafa;
$intro-bg: #272932;
$cyan: rgb(75, 202, 255);
$cool-grey: #c9daea;
$red: rgb(204, 74, 65);
